<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>item</key>
	<array>
		<dict>
			<key>username</key>
			<string>ssy</string>
			<key>email</key>
			<string>ssy@gmail.com</string>
			<key>pwd</key>
			<string>1004</string>
		</dict>
		<dict>
			<key>username</key>
			<string>ssy3</string>
			<key>email</key>
			<string>ssy3@gmail.com</string>
			<key>pwd</key>
			<string>1777</string>
		</dict>
		<dict>
			<key>username</key>
			<string>ssy4</string>
			<key>email</key>
			<string>ssy4@gmail.com</string>
			<key>pwd</key>
			<string>18187</string>
		</dict>
	</array>
</dict>
</plist>
